@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .navegacao {
    display: none;
    /* flex-direction: column;
        width: 100%; */
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
  }

  /* Faz o menu aparecer quando o checkbox está marcado */
  .menu-checkbox:checked ~ .navegacao {
    display: flex;
  }

  .navegacao a {
    width: 100%;
    text-align: center;
  }

  .sobre-conteudo,
  .contato-conteudo {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .imagem-contato {
    max-height: 300px;
  }

  .lista-formacao {
    grid-template-columns: 1fr;
  }

  .nome {
    font-size: 2rem;
  }

  .cargo {
    font-size: 1.1rem;
  }

  .foto-perfil {
    width: 120px;
    height: 120px;
  }

  .imagem-destaque {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 15px;
  }

  .nome {
    font-size: 1.6rem;
  }

  .cargo {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  /* Projetos */
  .card-list .card-link .area-badge {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 420px) {
    /* Contato */
    .contato-conteudo {
      justify-items: center;
    }

    .contatos {
      width: 316px;
    }

    .contatos a {
      font-size: 0.8rem;
    }

    .area-form {
      width: 250px;
    }

    .grupo-input label {
      font-size: 1.2rem;
      margin-bottom: 5px;
    }

    .grupo-input input,
    .grupo-input textarea {
      font-size: 0.8rem;
    }
  }

  @media (max-width: 360px) {
    .container {
      padding: 0 10px;
    }

    /* Sobre */
    .lista-foco {
        grid-template-columns: 1fr;
    }

    /* Habilidades */
    .grade-habilidades {
        grid-template-columns: 1fr;
    }

    .grupo-habilidades li {
        font-size: 0.8rem;
    }

    /* Contato */
    .contatos {
      width: 290px;
    }

    .area-form {
      width: 220px;
    }
  }
}
