:root {
  --primary: #105B99;
  --primary-dark: #1B3245;
  --white: #fff;
  --dark: #2d3748;
  --light: #e6edf1;
  --gray: #718096;
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  --transition: all 0.3s ease;
  --border-radius: 15px;
}